
{% extends 'base.html' %}
{% block content %}


<div class="container mt-5">
    <h1> قائمة المنتجات </h1>
    <div class="row">
      {% for item in product %}
        <div class="col-md-4 mb-3">
          <div class="card h-100" >
            {% if item.image %}
                 <img src="{{ item.image.url }}" class="card-img-top"  style="height: 200px;object-fit: cover;"  >
                {% else %}
                 <img src="https://img.freepik.com/free-vector/error-alert-button-symbol_24877-83749.jpg?t=st=1742850150~exp=1742853750~hmac=eb7b8fbc8f918ca69cd5256e2ec0e40ced323261b73cf24b8a3cc87ab5012784&w=826" alt="{{item.name}}" style="height: 200px; object-fit: cover;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <h6 class="badge bg-danger">{{item.notes}}</h6>
                  
                </div>

                <div class="card-footer">
                  
                    <div class="row">
                        <div class="col">
                            <p>{{item.net}} ريال</p>
                        </div>
                        <div class="col">
                          <a href="{% url 'details' id=item.id %}" class="btn btn-info">تفاصيل المنتج</a>
                        </div>
                    </div>
                </div>
          </div>
        </div>
      {% endfor  %}
    </div>
    
</div>
{% endblock %}