{% extends 'base.html' %}
{% block content %}

<div class="row mt-5">
    <div class="col  d-flex">
        <form method='post'>

    {% csrf_token %}
     <div class="row mt-5">
        <div class="col ">
            <label class='form-control' > اسم المستخدم</label>
            {{form.username}}
            <label class='form-control' > كلمة السر</label>
            {{form.password}}
            <label class='form-control' > رقم الهاتف</label>
            {{form.phone_number}}
            
        </div>
     </div>
    
     <button type='submit' class='btn btn-primary'>تسجيل الدخول </button>
    <p>
         ؟ ليس لديك حساب <a href="{% url 'register' %}" class='text-info'> تسجيل جديد</a>
    </p>
    </form>

    </div>
</div>

{% endblock %}
